/* Default Light Theme */
.theme-light {
  --bg-primary: #ffffff;
  --bg-secondary: #f3f4f6;
  --text-primary: #1f2937;
  --text-secondary: #4b5563;
}

/* Dark Theme */
.theme-dark {
  --bg-primary: #1f2937;
  --bg-secondary: #374151;
  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
}

/* Cyberpunk Theme */
.theme-cyberpunk {
  --bg-primary: #0d0221;
  --bg-secondary: #1f2742;
  --text-primary: #fcfcfc;
  --text-secondary: #008cff;
}

/* Retro Theme */
.theme-retro {
  --bg-primary: #faebd7;
  --bg-secondary: #7a573e;
  --text-primary: #2f4f4f;
  --text-secondary: #ffffff;
}

/* Aqua Theme */
.theme-aqua {
  --bg-primary: #007acc;
  --bg-secondary: #003f5c;
  --text-primary: #ffffff;
  --text-secondary: #ffcc00;
}

/* Apply Theme Variables */
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}


.container {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 1rem;
  border-radius: 8px;
}
